# Dataframe Viewer

## Importations

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Set Path

path = r'C:\Users\calli\OneDrive\Desktop\School\Career Foundry\Data Immersion\Achievement 6'

In [3]:
# Import Housing_Income_Merged_4

Housing_Income_Merged_4 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Housing_Income_Merged_4.pkl'))

In [4]:
# Show head

Housing_Income_Merged_4.head()

,id,bed,bath,acre_lot,city,state_name,zip_code,house_size,prev_sold_date,price,average_income,income_level,price_category,state,clusters
0,1,2,1,0.34,Agawam,Massachusetts,1001,676,NaN,180000,50403.756548,Low Income,Low Cost,MA,0
1,2,3,1,0.46,Agawam,Massachusetts,1001,1196,NaN,239900,50403.756548,Low Income,Low Cost,MA,0
2,3,3,3,0.45,Agawam,Massachusetts,1001,2314,2014-06-25,525000,50403.756548,Low Income,Medium Cost,MA,0
3,4,3,2,0.36,Agawam,Massachusetts,1001,1276,2012-10-12,289900,50403.756548,Low Income,Medium Cost,MA,0
4,5,4,2,0.11,Agawam,Massachusetts,1001,1732,NaN,275000,50403.756548,Low Income,Medium Cost,MA,0

## Exportation

In [5]:
# Export as excel file

Housing_Income_Merged_4.to_excel(os.path.join(path, '02 Data','Prepared Data', 'Housing_Income_Merged_5.xlsx'))