# Housing Costs and Inflation
## Income Data Wrangling

### Importations

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Set Path

path = r'C:\Users\calli\OneDrive\Desktop\School\Career Foundry\Data Immersion\Achievement 6'

In [3]:
# Import Income_Connecticut_CT

df_CT = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Connecticut_CT.xlsx'), index_col = False)

In [4]:
# Import Income_Delaware_DE

df_DE = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Delaware_DE.xlsx'), index_col = False)

In [5]:
# Import Income_Maine_ME

df_ME = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Maine_ME.xlsx'), index_col = False)

In [6]:
# Import Income_Massachusetts_MA

df_MA = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Massachusetts_MA.xlsx'), index_col = False)

In [7]:
# Import Income_NewHampshire_NH

df_NH = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_NewHampshire_NH.xlsx'), index_col = False)

In [8]:
# Import Income_NewJersey_NJ

df_NJ = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_NewJersey_NJ.xlsx'), index_col = False)

In [9]:
# Import Income_NewYork_NY

df_NY = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_NewYork_NY.xlsx'), index_col = False)

In [10]:
# Import Income_Pennsylvania_PA

df_PA = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Pennsylvania_PA.xlsx'), index_col = False)

In [11]:
# Import Income_RhodeIsland_RI

df_RI = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_RhodeIsland_RI.xlsx'), index_col = False)

In [12]:
# Import Income_Vermont_VT

df_VT = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Vermont_VT.xlsx'), index_col = False)

### Merge Dataframes

In [14]:
# Concatenate dataframes

frames = [df_CT, df_DE, df_ME, df_MA, df_NH, df_NJ, df_NY, df_PA, df_RI, df_VT]
df_concat = pd.concat(frames)

In [15]:
# Rename df_concat to df_1

df_1 = df_concat

### Descriptive Statistics

In [16]:
# Show Head

df_1.head()

,ZIP_Code,Size_Adjusted_Gross_Income,Num_Individuals,Total_Income,State
0,6001,"$1 under $25,000",1520,19416,Connecticut
1,6001,"$25,000 under $50,000",1450,40992,Connecticut
2,6001,"$50,000 under $75,000",1590,66383,Connecticut
3,6001,"$75,000 under $100,000",1720,78786,Connecticut
4,6001,"$100,000 under $200,000",5260,309702,Connecticut

In [17]:
# Show shape

df_1.shape

(30948, 5)

In [18]:
# Show Statistics formatted to easily read numbers

df_1.describe().apply(lambda s: s.apply('{0:.2f}'.format))

       ZIP_Code
count  30948.00
mean   10855.95
std     6777.46
min     1001.00
25%     5660.00
50%    11755.50
75%    15344.00
max    99999.00

In [19]:
# Show Statistics

df_1.describe()

           ZIP_Code
count  30948.000000
mean   10855.951338
std     6777.462286
min     1001.000000
25%     5660.000000
50%    11755.500000
75%    15344.000000
max    99999.000000

### Consistency Checks

In [20]:
# Check for mixed data types

for col in df_1.columns.tolist():
  weird = (df_1[[col]].applymap(type) != df_1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_1[weird]) > 0:
    print (col)

Num_Individuals
Total_Income

In [21]:
# Check for missing values

df_1.isnull().sum()

ZIP_Code                      0
Size_Adjusted_Gross_Income    0
Num_Individuals               0
Total_Income                  0
State                         0
dtype: int64

In [23]:
# Check for duplicates

df_dups = df_1[df_1.duplicated()]

In [24]:
# Show duplicates

df_dups

Empty DataFrame
Columns: [ZIP_Code, Size_Adjusted_Gross_Income, Num_Individuals, Total_Income, State]
Index: []

In [25]:
# Change Num_Individuals data type to int64

df_1['Num_Individuals'] = df_1['Num_Individuals'].astype('int64')

ValueError: invalid literal for int() with base 10: '.'

In [26]:
# Change Num_Individuals data type to int64

df_1['Total_Income'] = df_1['Total_Income'].astype('int64')

ValueError: invalid literal for int() with base 10: '.'

In [27]:
# Export Dataframe df_1 as Income_Merged into csv file

df_1.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Income_Merged.csv'))

#### Removed single row with "." values from Pennsylvania in Excel and named it "Income_Merged_2"

In [28]:
# Import Dataframe Income_Merged_2 as df_2

df_2 = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'Income Data', 'Income_Merged_2.xlsx'), index_col = False)

In [30]:
# Show Head

df_2.head()

,ZIP_Code,Size_Adjusted_Gross_Income,Num_Individuals,Total_Income,State
0,6001,"$1 under $25,000",1520,19416,Connecticut
1,6001,"$25,000 under $50,000",1450,40992,Connecticut
2,6001,"$50,000 under $75,000",1590,66383,Connecticut
3,6001,"$75,000 under $100,000",1720,78786,Connecticut
4,6001,"$100,000 under $200,000",5260,309702,Connecticut

In [31]:
# Show shape

df_2.shape

(30947, 5)

In [32]:
# Show Statistics formatted to easily read numbers

df_2.describe().apply(lambda s: s.apply('{0:.2f}'.format))

       ZIP_Code Num_Individuals Total_Income
count  30947.00        30947.00     30947.00
mean   10855.76         1647.75     86702.80
std     6777.49         2723.72    288772.03
min     1001.00            0.00         0.00
25%     5660.00          210.00      8107.00
50%    11755.00          630.00     24695.00
75%    15344.00         1950.00     77809.50
max    99999.00        54570.00  12899619.00

In [33]:
# Show Statistics

df_2.describe()

           ZIP_Code  Num_Individuals  Total_Income
count  30947.000000     30947.000000  3.094700e+04
mean   10855.759201      1647.754548  8.670280e+04
std     6777.487502      2723.716281  2.887720e+05
min     1001.000000         0.000000  0.000000e+00
25%     5660.000000       210.000000  8.107000e+03
50%    11755.000000       630.000000  2.469500e+04
75%    15344.000000      1950.000000  7.780950e+04
max    99999.000000     54570.000000  1.289962e+07

In [34]:
# Check for mixed data types

for col in df_2.columns.tolist():
  weird = (df_2[[col]].applymap(type) != df_2[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2[weird]) > 0:
    print (col)

## Export Wrangled Dataframe

In [35]:
# Export df_2 as Income_Wrangled

df_2.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Income Data', 'Income_Wrangled.csv'))